<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="KSRTCAutomationFramework">
        <classes>
            <class name="com.pan.tests.AmazonTest"></class>
            <class name="com.pan.tests.KsrtcTest"></class>
        </classes>
    </test>
</suite>